  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
  $font-main:"poppins",sans-serif;
$font-second:"inter",sans-serif;
$background:#eaeaea;
$text-color:#252a34;
$blue:#08d9d6;
$red:#e50000;